In [1]:
#Importamos las libreria a utilizar
import pandas as pd
import numpy as np

In [2]:
#importamos el csv con el que trabajaremos. En este caso usamos la opcion "encoding" debido al formato con el cual se descargo el csv de kaggle
df=pd.read_csv("Sample - Superstore.csv", encoding='latin-1')
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [3]:
#Validamos los tipos de atributos que tiene el df
df.dtypes

Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

In [4]:
#validamos si hay valores nulos en cada columna
missing_data = df.isnull()
for column in missing_data.columns.values.tolist():
    print (missing_data[column].value_counts())
    print("")

Row ID
False    9994
Name: count, dtype: int64

Order ID
False    9994
Name: count, dtype: int64

Order Date
False    9994
Name: count, dtype: int64

Ship Date
False    9994
Name: count, dtype: int64

Ship Mode
False    9994
Name: count, dtype: int64

Customer ID
False    9994
Name: count, dtype: int64

Customer Name
False    9994
Name: count, dtype: int64

Segment
False    9994
Name: count, dtype: int64

Country
False    9994
Name: count, dtype: int64

City
False    9994
Name: count, dtype: int64

State
False    9994
Name: count, dtype: int64

Postal Code
False    9994
Name: count, dtype: int64

Region
False    9994
Name: count, dtype: int64

Product ID
False    9994
Name: count, dtype: int64

Category
False    9994
Name: count, dtype: int64

Sub-Category
False    9994
Name: count, dtype: int64

Product Name
False    9994
Name: count, dtype: int64

Sales
False    9994
Name: count, dtype: int64

Quantity
False    9994
Name: count, dtype: int64

Discount
False    9994
Name: count, dtype: int64

Profit
False    9994
Name: count, dtype: int64

In [ ]:
#En este caso no hay nulos
#procedemos a dividir el dataframe en las tablas que tenemos en nuestra base de datos SUPERSTORE (PRODUCTS, CLIENT, SALES)

df_products=df[["Product ID","Category","Sub-Category","Product Name"]]

df_client=df[["Customer ID","Customer Name","Segment","Country","City","State","Postal Code","Region"]]

df_sales=df

In [ ]:
#Limpiamos de duplicados el df_productos, ya que esta sera una tabla maestra de productos
df_products_sin  = df_products.drop_duplicates(subset=['Product ID'], keep='first').reset_index(drop=True)
df_products_sin

,Product ID,Category,Sub-Category,Product Name
0,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase
1,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,..."
2,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...
3,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table
4,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System
...,...,...,...,...
1857,TEC-PH-10002817,Technology,Phones,RCA ViSYS 25425RE1 Corded phone
1858,TEC-MA-10003589,Technology,Machines,Cisco 8961 IP Phone Charcoal
1859,OFF-AP-10003099,Office Supplies,Appliances,"Eureka Hand Vacuum, Bagless"
1860,TEC-PH-10002645,Technology,Phones,LG G2
1861,OFF-ST-10001627,Office Supplies,Storage,Eldon Jumbo ProFile Portable File Boxes Graphi...

In [ ]:
# Cargar datos limpios a PRODCUTS
import pyodbc

conn = pyodbc.connect(
    "Driver={ODBC Driver 17 for SQL Server};"
    f"Server=DESKTOP-EO0JDO7\\MSSQLSERVER_RGD;"
    f"Database=SUPERSTORE;"
    "Trusted_Connection=yes;"
)

cursor = conn.cursor()

# Insertar datos con executemany
data = [tuple(x) for x in df_products_sin.to_numpy()]
cursor.fast_executemany = True  
cursor.executemany(
    "INSERT INTO PRODUCTS ([product_id], category, [sub_category], [prodcut_name]) VALUES (?, ?, ?, ?)",
    data    
)
conn.commit()

In [ ]:
#Limpiamos de duplicados el df_client, ya que esta sera una tabla maestra de clientes
df_client_sin  = df_client.drop_duplicates(subset=['Customer ID'], keep='first').reset_index(drop=True)
df_client_sin

,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region
0,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South
1,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West
2,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South
3,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West
4,AA-10480,Andrew Allen,Consumer,United States,Concord,North Carolina,28027,South
...,...,...,...,...,...,...,...,...
788,CJ-11875,Carl Jackson,Corporate,United States,Philadelphia,Pennsylvania,19140,East
789,RS-19870,Roy Skaria,Home Office,United States,Burlington,Iowa,52601,Central
790,SC-20845,Sung Chung,Consumer,United States,Arlington Heights,Illinois,60004,Central
791,RE-19405,Ricardo Emerson,Consumer,United States,Kent,Ohio,44240,East
792,SM-20905,Susan MacKendrick,Consumer,United States,Newark,Ohio,43055,East

In [ ]:
# Cargar datos limpios a CLIENT
import pyodbc

conn = pyodbc.connect(
    "Driver={ODBC Driver 17 for SQL Server};"
    f"Server=DESKTOP-EO0JDO7\\MSSQLSERVER_RGD;"
    f"Database=SUPERSTORE;"
    "Trusted_Connection=yes;"
)

cursor = conn.cursor()

# Insertar datos con executemany
data = [tuple(x) for x in df_client_sin.to_numpy()]
cursor.fast_executemany = True  
cursor.executemany(
    "INSERT INTO CLIENT ([customer_ID], [customer_name], [segment], [country],[city],[state_name],[postal_code],[region]) VALUES (?, ?, ?, ?, ?, ?, ?, ?)",
    data    
)
conn.commit()

In [ ]:
#Eliminamos la columna Row ID ya que la crearemos directamente en sql server como pk al ingresar un nuevo registro
df_sales = df_sales.drop(columns=['Row ID'])
df_sales

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,Florida,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [ ]:
#damos formato a las campos de fechas, y validamos el cambio 
df_sales['Order Date'] = pd.to_datetime(df_sales['Order Date'], errors='coerce')
df_sales['Ship Date'] = pd.to_datetime(df_sales['Ship Date'], errors='coerce')
df_sales.dtypes

Order ID                 object
Order Date       datetime64[ns]
Ship Date        datetime64[ns]
Ship Mode                object
Customer ID              object
Customer Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal Code               int64
Region                   object
Product ID               object
Category                 object
Sub-Category             object
Product Name             object
Sales                   float64
Quantity                  int64
Discount                float64
Profit                  float64
dtype: object

In [ ]:
#Ahora cargamos la tabla SALES, esta contiene toda la info con respecto a las ordenes de compra
import pyodbc

conn = pyodbc.connect(
    "Driver={ODBC Driver 17 for SQL Server};"
    f"Server=DESKTOP-EO0JDO7\\MSSQLSERVER_RGD;"
    f"Database=SUPERSTORE;"
    "Trusted_Connection=yes;"
)

cursor = conn.cursor()

# Insertar datos con executemany
data = [tuple(x) for x in df_sales.to_numpy()]
cursor.fast_executemany = True  
cursor.executemany(
    "INSERT INTO SALES ([order_id], [order_date], [ship_date], [ship_mode],[customer_id],[customer_name],[segment],[country],[city],[state_name],[postal_code],[region],[product_id],[category],[sub_category],[product_name],[sales],[quantity],[discount],[profit]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)",
    data    
)
conn.commit()

In [ ]:
#Con esto se completo el proceso de carga desde un csv a una BBDD en SQL server usando un script de python.